<!DOCTYPE html>
<html>
<head>
  <title>MongoDB + Express.js </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>MongoDB + Express.js
        <a class"btn btn-primary" href="insert" role="button">Insert<a/>
        </h1>
      </div>
      <div class="row">

<table class = "table">
<thead class = "thead-inverse">
  <tr>
    <th>#</th>
    <th>_id</th>
      <th>Frist Name</th>
      <th>Last Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%
    for(var i=0;i<data.length;i++){
      no=i+1;
      _id=data[i]._id;
      fname=data[i].fname;
      lname=data[i].lname;
      %>
      <tr>
        <th scope="row"><%=no%></th>
        <td scope="row"><%=_id%></td>
        <td><%=fname%></td>
        <td><%=lname%></td>
        <td>
          <a class="btn btn-success"href="/update/<%=_id%>"role="button">Update</a>
          <a class="btn btn-danger"href="/delete/<%=_id%>"role="button"onclick="return confirm('Are you sure you want to delete?');">Delete</a>
        </td>
      </tr>
      <%}%>
    </tbody>
  </table>
</div>

<script src="jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
